go 1.19

use ./arrays

use ./channels

use ./closures

use ./conditional

use ./constraints

use ./datatype

use ./exame

use ./fileio

use ./functions

use ./interfaces

use ./loops

use ./maps

use ./maths

use ./mutex

use ./pointers

use ./recursive

use ./regex

use ./routines

use ./runes

use ./slices

use ./string

use ./structs

use ./terminal

use ./tests

use ./times
