go 1.19

use ./arrays

use ./comment

use ./conditional

use ./constraints

use ./datatype

use ./fileio

use ./functions

use ./loops

use ./maps

use ./maths

use ./pointers

use ./runes

use ./slices

use ./string

use ./structs

use ./terminal

use ./times
